@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
html,body{margin:0;padding:0;font-family:Inter,Arial,sans-serif;background:#fbf8fd;color:#222}
a{color:inherit}
